<div class="sidebar">
    <a routerLinkActive="active" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <!-- tabindex="0" makes the element below focusable in sequential keyboard navigation -->
    <a tabindex="0" (click)="switchDropdownContainerVisibility()"
                    (keypress)="switchDropdownContainerVisibility()">
      <i class="fas fa-medal"></i> Sports <i class="fa fa-caret-down"></i>
      <div [ngClass]="{'dropdown-container-hidden': dropdownContainerIsVisible == false,
                       'dropdown-container-visible': dropdownContainerIsVisible == true}">
        <a routerLinkActive="active" routerLink="/football"><i class="far fa-futbol"></i> Football</a>
        <a routerLinkActive="active" routerLink="/hockey"><i class="fas fa-hockey-puck"></i> Ice Hockey</a>
        <a routerLinkActive="active" routerLink="/floorball"><i class="fas fa-futbol"></i> Floorball</a>
      </div>
    </a>
    <a routerLinkActive="active" routerLink="/contact"><i class="fa fa-fw fa-envelope"></i> Contact us</a>
  </div>
