<div class="container">
  <div class="div-football">
    <mat-card class="football-card">
      <mat-card-header>
        <div mat-card-avatar class="football-image1"></div>
        <mat-card-title>Football</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-man-playing-football-image_1200610.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Matches Today:
        </p>
        <div class="footballdivMatch0">Team A - Team B</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="div-NHL">
   <mat-card class="NHL-card">
      <mat-card-header>
        <div mat-card-avatar class="NHL-image"></div>
        <mat-card-title>NHL</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://png.pngtree.com/png-clipart/20220823/original/pngtree-professional-sport-and-lifestyle-concept-png-image_8479395.png">
      <mat-card-content>
        <p>
          Matches Today:
        </p>
        <div class="nhldivMatch0">Team A - Team B</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="div-Floorball">
    <mat-card class="Floorball-card">
       <mat-card-header>
         <div mat-card-avatar class="Floorball-image"></div>
         <mat-card-title>Floorball</mat-card-title>
       </mat-card-header>
       <img mat-card-image src="https://dltaw1vhj9zy5.cloudfront.net/2021/06/2019-WFC-SWE-SUI-Fabian-Trees-2-1024x682.jpg">
       <mat-card-content>
         <p>
          Matches Today:
         </p>
          <div class="floorballdivMatch0">Team A - Team B</div>
       </mat-card-content>
     </mat-card>
   </div>
   
</div> 
