
<div class="container">
  <div class="row">

  <div class="col" >
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" *ngFor="let i of dC">
          {{i}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of leagueStandings; let in = index" >
        <td scope="row">{{i.position}} </td>
        <td (click) = "selectTeam(i.team.name)">{{i.team.name}}</td>
        <td *ngFor="let x of statsForTeam[in] ">{{x.value}}  </td>
      </tr>
    </tbody>
    </table>
    
    
  </div>
  <div class="col-1">
    
  

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">
        Season
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of seasons; let in = index" >
      <td scope="row" (click) = "foobar(i.id)">{{i.season.startYear}} </td>
    </tr>
  </tbody>
  </table>
  
  </div>
</div>
</div>

