.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.middle-column {
    color: black;
    width: auto;
    grid-column: 2;
}

/* Submit button */
button {
    color: black;
    background-color: #f1f1f1;
	padding: 4px 16px;
	margin-top: 10px;
    margin-bottom: 10px;
	border: 1px solid black;
	transition: 0.4s;
}

button:hover:enabled {
	background-color: #555;
    color: white;
}

:host ::ng-deep .mat-spinner circle {   
    stroke: #04AA6D; /* NOTE: Same as sidebar.component.css .sidebar a.active (update both to keep them matching)*/
}

/* Response message and spam trap */
.hide-me {
	display: none;
}

.show-me {
	display: block;
	text-align: center;
}

/* Overall */
form.contact-us {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 300px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

input {
    margin-bottom: 10px;
}
