<div class="container" *ngIf="tableDiv">
    <div class="row">
      <div class="col" id = "left">
        Column
      </div>
      <div class="col-9 "style="border-style:solid;">
        <app-table [leagueId] = leagueId></app-table>
     
      </div>
      <div class="col">
        Column
      </div>
     
      <ul>
        <li *ngFor="let i of sports">
          {{i.id}} {{i.name}} {{i.slug}} {{i.status}}  {{i.homeTeam.name}} {{i.homeTeam.id}} {{i.homeTeam.arena.name}}
        </li>
      </ul>


    </div>
</div>

  <div class="container" *ngIf="leagueDiv">
    <div class="row">
      <div class="col-md-12">
        <div class="pb-5">
          <h1>Ice Hockey Leagues</h1>
        </div>
        <div class="row">
          <div class="col-md-6"><h2>MEN</h2>
            <li (click) = "switchDiv(m[1])" *ngFor="let m of leaguesM">
              {{m[0]}}
            </li>
          </div>
          <div class="col-md-6"><h2>WOMEN</h2>
            <li (click) = "switchDiv(w[1])" *ngFor="let w of leaguesW">
              {{w.name}}
            </li>
          </div>
        </div>
      </div>
    </div>