<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pb-5">
        <h1>Football Leagues</h1>
      </div>
      <app-league [sportIdentifier]=sportIdentifier></app-league>
    </div>
  </div>

  <div class="matches">
    <h1>Matches</h1>
    <button class="buttonMatches" mat-mini-fab>All</button>
    <button class="buttonMatches" mat-mini-fab>Upcoming</button>
    <button class="buttonMatches" mat-mini-fab>Finished</button>
    <div class="score-card-list">
      <mat-card class="score-card" *ngFor="let i of events">
        <span class="home">{{i.homeTeam.name}}</span>
        <span class="score">{{i.homeTeamScore}} : {{i.visitingTeamScore}}</span>
        <span class="away">{{i.visitingTeam.name}}</span>
      </mat-card>
    </div>
  </div>