
  @media only screen and (min-width: 1122px) {
    .main-container {
      margin-left: 200px;   
      margin-right:200px;
    }

  }
  @media only screen and (min-width: 700px) {
    .main-container {
      margin-left: 200px;   
    }

  }
  