<div class="container" *ngIf="tableDiv">
    <div class="row">
      <div class="col" id="left">
        Column
      </div>
      <div class="col-9 " style="border-style:solid;">
        <app-table [leagueId]=leagueId></app-table>
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>
  
  <div class="container" *ngIf="leagueDiv">
    <div class="row">
      <div class="col-md-12">
        <div class="pb-5">
          <h1>{{sportIdentifier}} Leagues</h1>
        </div>
        <app-league [sportIdentifier]=sportIdentifier (getLeagueId)="switchView($event)"></app-league>
      </div>
    </div>
  </div>